@charset "UTF-8";

#__layout .v-application--wrap {
  background-color: #000;
}

@media screen and (max-width: 599px) {
  .pc {
    display: none;
  }
  .mobile {
    display: block;
  }
  .content-img {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  /* 画面サイズ 500pxから999pxまで適用 */
  .pc {
    display: none;
  }
  .mobile {
    display: block;
  }
}
@media screen and (min-width:960px) {
  /* 画面サイズ 1000px以上から適用 */
  .pc {
    display: block;
  }
  .mobile {
    display: none;
  }
}

#__layout .theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset {
  color: rgba(0, 0, 0, 0) !important;
}

.scroller {
  overflow-x: auto;
}
.scroller::-webkit-scrollbar {
  display:none;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}